/*Textos*/

.title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin-right: 4rem;
}


.ft{
  margin-top: 2.5rem;
}

.logo{
  font-size: 30px;
  margin-left: 2rem;
  height: 141px;
  width: 151.23px;
  margin-top: -1.7rem;
}

/*Componentes*/

.banner-footer {
  position: sticky;
  width: 100%;
  height: 100px;
  background-color: black;
}

.banner-content{
  display: flex;
  justify-content: space-between;
}

.footer-content{
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 0.6rem;
  display: flex;
}


a:hover {
  font-style: italic;
  color:rgb(143, 143, 243);
}

a:link {
  text-decoration: none;
}

/*Animations*/

@keyframes banner_shown{
  from{
    opacity: 0;
    transform: translateY(60px);
  }

  to{
    opacity: 1;
    transform: none;
  }
}

.bs{
  animation: has_shown 1.5s ease-in-out forwards ;
}

.ts{
  animation: has_shown 1s ease-in-out forwards ;
}

.checkbox{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.checkbox .trace{
  width: 90px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  
}

.checkbox .trace:nth-child(1){
  top: 26px;
  
}
.checkbox .trace:nth-child(2){
  top: 46px;
  
}
.checkbox .trace:nth-child(3){
  top: 66px;
  
}



@media(max-width: 1500px){
  .banner-content{
    justify-content: start;
  }

  .footer{
    display: none;
  }

}

@media(max-width: 1300px){
  .logo{
    display: none;
  }
  .container{
    display: none;
  }

  
  .banner-footer.mobile{
    height: 100vh;
    
  
    
  }
  
  .container.mobile {
    margin-top: 10rem;
    margin-left: 12rem;
    display: block;

  }

  .box.mobile{
    display: none;
  }

}

@media(max-width: 420px){
  .banner-footer{
    width: 2000px;
  }

}

.menu{
  display: none;
}


.mobile-bar{
  display: block;
}



