/*Textos*/

.title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin-right: 4rem;
}
.title-footer{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin-right: 4rem;
}


.ft{
  margin-top: 2.5rem;
}

.logo{
  font-size: 30px;
  margin-left: 2rem;
  height: 141px;
  width: 151.23px;
  margin-top: -1.7rem;
}

/*Componentes*/

.banner {
  position: sticky;
  width: 100%;
  background-color: black;
}
.footer {
  position: sticky;
  width: 100%;
  background-color: black;
}

.banner-content{
  display: flex;
  justify-content: space-between;
}

.footer-content{
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 0.6rem;
  display: flex;
}

.options-text:hover {
  font-style: italic;
  color:rgb(143, 143, 243);
}

a:link {
  text-decoration: none;
}

/*Animations*/

@keyframes banner_shown{
  from{
    opacity: 0;
    transform: translateY(60px);
  }

  to{
    opacity: 1;
    transform: none;
  }
}

.bs{
  animation: has_shown 1.5s ease-in-out forwards ;
}

.ts{
  animation: has_shown 1s ease-in-out forwards ;
}

/*checkbox icon*/

.checkbox{
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.checkbox .trace{
  width: 90px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  
}

.checkbox .trace:nth-child(1){
  top: 26px;
  
}
.checkbox .trace:nth-child(2){
  top: 46px;
  
}
.checkbox .trace:nth-child(3){
  top: 66px;
  
}



/*Responsividade*/

@media(max-width: 1500px){
  .logo{
    display: none;
  }
  .container{
    display: none;
  }

  
  .banner.mobile{
    min-height: 100vh;
    width: 100%;
    
    
  }

  .banner-content.mobile{
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    
  }

  .container.mobile {
    display: block;
    text-align: center;

  }

  .options-text:hover {
    font-style: italic;
    color:rgb(143, 143, 243);
    
  }

  .box.mobile{
    display: none;
  }

  .footer.mobile{
    display: none;
  }


}

@media(max-width: 500px){
  .title-footer{
    font-size: small;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.menu{
  display: none;
}


.mobile-bar{
  display: flex;
}



