/*Textos*/

.title{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin-right: 4rem;
  
}

.logo{
  margin-left: 2rem;
  
}

/*Componentes*/

.banner {
  background-color: black;
  display: flex;
  justify-content: space-between;
  
}

.container {
  display: flex;
}

a:hover {
  color: aqua;
}

a:link {
  text-decoration: none;
}
